/* Navbar.css */
.AppBar {
    background: #003d4d;
    direction: rtl;
    display: flex;
    overflow: hidden;
    margin-bottom: 20px;
    position:fixed;
  }
  

  
  .title {
    flex-grow: 1;
    margin-left: 4px;
    font-family: monospace;
    font-weight: 900;
    letter-spacing: 0.1rem;
    color: inherit;
    text-decoration: none;
  }
  
  .menuButton {
    display: none;
  }
  
  @media (max-width: 768px) {
    .title {
      display: none;
    }
    .menuButton {
      display: flex;
    }
  }
  